
<nav class="navbar navbar-light border">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <a class="navbar-brand" href="{%url 'home'%}" style="text-decoration:none">Instagram Clone</a>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% if user.is_authenticated%}
                    <li><a class="dropdown-item" href="{% url 'profile' id=request.user.id%}">Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    {%else%}
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/signup">Signup</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>


    </div>
</nav>